.main {
    color: white;
    font-size: 60px;
    font-family: "fixedsys";
}

body{
    background-color: rgba(226,30,38,255);
}

.title {
    font-size: 70px;
    text-align: center;
    padding: 40px;
    padding-top: 10px;
}

.redirects{
    margin-left: 5%;
}

.result {
    text-align: center;
    color: #52eb34;
}

.redirect {
    text-decoration: none;
    color: black;
}

.redirect:hover{
    color: white;
}

.faceSpace{
    display: flex;
    justify-content: center;
}

.resultFace{
    height: 30%;
    width: 30%;
}