.main {
    background-color: red;
    color: white;
    padding-top: 60px;
    padding-bottom: 25%;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 60px;
    font-family: "fixedsys";
}

.title {
    font-size: 70px;
    text-align: center;
    padding: 40px;
}

.row {
    display: flex;
    flex-direction: row;
}

.image {
    padding: 20px;
}