.main {
    background-color: red;
    color: white;
    padding-top: 200px;
    padding-bottom: 25%;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 60px;
    font-family: "fixedsys";
}